<link data-link="css" href="https://static.artek.org/static/partners/css/partner_list.css" rel="stylesheet" />
<h3 style="text-align: justify;">Международные партнёры совместно с ФГБОУ «МДЦ «Артек» реализуют международные конкурсы, в которых могут принимать участие дети-иностранцы и дети соотечественников, проживающие за рубежом. Победители данных конкурсов награждаются путевками в ФГБОУ «МДЦ «Артек».</h3>

<p> </p>

<ul class="partner-list">
    <li class="partner-list__item">
        <div class="_close js-spoiler-parent partner _opened">
        <div class="js-spoiler partner__header">
        <div class="partner__logo"><img src="/media/uploads/Partneri/mezhdunard-partner/logo/2021/01egipetimage1.jpeg" style="width: 100px; height: 80px;" /></div>
    
        <div class="partner__info">
        <div class="link link_line_dashed partner__title">Эльшарк-языковые переводы</div>
    
        <div class="partner__description"> </div>
        </div>
        </div>
    
        <div class="js-spoiler-body partner__body">
        <div class="partner__body-content">
        <div class="partner__left">
        <div class="partner__about">
        <div class="partner__about-title">Руководитель организации:</div>
    
        <div class="partner__about-desc">Мохаммед Эльсайед Рефат Абдельазиз</div>
        </div>
    
        <div class="partner__about">
        <div class="partner__address"><b>Адрес:</b> у. Мухаммади Хуидак, г. Хургада, провинция Красное Море, Египет
		</div>
    
        <div class="partner__phone"><b>Телефон: </b></div>
    
        <div class="partner__email"><b>E-mail:</b><a href="mailto:club-rodnik@yandex.ru
			">club-rodnik@yandex.ru
		</a></div>
    
        <div class="partner__site"><b>Официальный сайт: </b> <a href="https://www.facebook.com/groups/595184398001610/
			">https://www.facebook.com/groups/595184398001610/
		</a></div>
        </div>
    
        <div class="partner__about">
        <div class="partner__about-title">Менеджер проекта:</div>
    
        <div>Черникова Елена Валерьевна</div>
    
        <div class="partner__about-desc"> </div>
    
        <div class="partner__about-desc"><strong>E-mail</strong>: club-rodnik@yandex.ru</div>
    
        <div class="partner__about-desc"><strong>Телефон</strong>: +201009844241
		</div>
        </div>
        </div>
    
        <div class="partner__right">
        <div class="partner__about">
        <div class="partner__about-title">Название программы:</div>
    
        <div class="partner__about-desc"> «Русско-Египетский культурный мост» </div>
    
        </div>
        </div>
        </div>
        </div>
        </div>
    </li>

	<li class="partner-list__item">
			<div class="_close js-spoiler-parent partner _opened">
			<div class="js-spoiler partner__header">
			<div class="partner__logo"><img src="/media/uploads/Partneri/mezhdunard-partner/logo/2021/02italiyaimage1.png	" style="width: 100px; height: 80px;" /></div>
		
			<div class="partner__info">
			<div class="link link_line_dashed partner__title">Представительство Федерального агентства по делам Союза Независимых Государств, соотечественников, проживающих за рубежом, и по международному гуманитарному сотрудничеству в Итальянской Республике (г.Рим) (представительство Россотрудничества в Италии)</div>
		
			<div class="partner__description"> </div>
			</div>
			</div>
		
			<div class="js-spoiler-body partner__body">
			<div class="partner__body-content">
			<div class="partner__left">
			<div class="partner__about">
			<div class="partner__about-title">Руководитель организации:</div>
		
			<div class="partner__about-desc">Пушкова Дария Алексеевна, руководитель представительства
			</div>
			</div>
		
			<div class="partner__about">
			<div class="partner__address"><b>Адрес:</b> Площадь Банедетто Каироли, д. 6, г.Рим, Италия, 00186
				Piazza Benedetto Cairoli, 6, Roma, Italia, 00186
				</div>
		
			<div class="partner__phone"><b>Телефон: </b>+39 06 888 16 333</div>
		
			<div class="partner__email"><b>E-mail:</b><a href="mailto:italy@rs.gov.ru">italy@rs.gov.ru</a></div>
		
			<div class="partner__site"><b>Официальный сайт: </b> <a href="https://ita.rs.gov.ru/ru">https://ita.rs.gov.ru/ru</a></div>
			</div>
		
			<div class="partner__about">
			<div class="partner__about-title">Менеджер проекта:</div>
		
			<div>Полежаев Александр Александрович</div>
		
			<div class="partner__about-desc"> </div>
		
			<div class="partner__about-desc"><strong>E-mail</strong>: italy@rs.gov.ru</div>
		
			<div class="partner__about-desc"><strong>Телефон</strong>: +7 977 906 41 40</div>
			</div>
			</div>
		
			<div class="partner__right">
			<div class="partner__about">
			<div class="partner__about-title">Название программы:</div>
		
			<div class="partner__about-desc"> «Детский музыкальный конкурс «Поющие Сердца»
			</div>
		
			</div>
			</div>
			</div>
			</div>
			</div>
	</li>

	<li class="partner-list__item">
		<div class="_close js-spoiler-parent partner _opened">
		<div class="js-spoiler partner__header">
		<div class="partner__logo"><img src="" style="width: 100px; height: 80px;" /></div>
	
		<div class="partner__info">
		<div class="link link_line_dashed partner__title">Общественное объединение «Объединение российских соотечественников Северо-Казахстанской области «ЕДИНЕНИЕ»</div>
	
		<div class="partner__description"> </div>
		</div>
		</div>
	
		<div class="js-spoiler-body partner__body">
		<div class="partner__body-content">
		<div class="partner__left">
		<div class="partner__about">
		<div class="partner__about-title">Руководитель организации:</div>
	
		<div class="partner__about-desc">Дубровин Виктор Константинович,</div>
		</div>
	
		<div class="partner__about">
		<div class="partner__address"><b>Адрес:</b> 150000, Республика Казахстан, Северо-Казахстанская область, город Петропавловск, ул. Алматинская, дом 9, кв. 81. 
		</div>
	
		<div class="partner__phone"><b>Телефон: </b>+7 701 417 00 74</div>
	
		<div class="partner__email"><b>E-mail:</b><a href="mailto:vkdubrovin@mail.ru
			">vkdubrovin@mail.ru
		</a></div>
	
		<div class="partner__site"><b>Официальный сайт: </b> <a href=""></a></div>
		</div>
	
		<div class="partner__about">
		<div class="partner__about-title">Менеджер проекта:</div>
	
		<div>Исмаилов Ринат Рашитович</div>
	
		<div class="partner__about-desc"> </div>
	
		<div class="partner__about-desc"><strong>E-mail</strong>: ir2573@mail.ru 
		</div>
	
		<div class="partner__about-desc"><strong>Телефон</strong>: +77029307421</div>
		</div>
		</div>
	
		<div class="partner__right">
		<div class="partner__about">
		<div class="partner__about-title">Название программы:</div>
	
		<div class="partner__about-desc"> «Международный фестиваль «Семейный театр»,
			«Международный литературно-художественный конкурс, посвященный 115-летию со Дня рождения Агнии Львовны Барто» </div>
	
		</div>
		</div>
		</div>
		</div>
		</div>
		</li>

</ul>
<script src="https://static.artek.org/static/js/spoiler.js"></script><script src="https://static.artek.org/static/partners/js/partner_detail.js"></script>
<style type="text/css">.text ul li {
    position: relative;
    padding-left: 0 !important;
}
.partner-list {
    padding:0 !important;
    list-style: none !important;
    margin: 0;
}
</style>
<p> </p>
