<li class="partner-list__item">
	<div class="_close js-spoiler-parent partner _opened">
	<div class="js-spoiler partner__header">
	<div class="partner__logo"><img src="{{ logo_url }}" style="width: 100px; height: 80px;" /></div>

	<div class="partner__info">
	<div class="link link_line_dashed partner__title">{{ partner__title }}</div>

	<div class="partner__description"> </div>
	</div>
	</div>

	<div class="js-spoiler-body partner__body">
	<div class="partner__body-content">
	<div class="partner__left">
	<div class="partner__about">
	<div class="partner__about-title">Руководитель организации:</div>

	<div class="partner__about-desc">{{ ruk }}</div>
	</div>

	<div class="partner__about">
	<div class="partner__address"><b>Адрес:</b> {{ address }}</div>

	<div class="partner__phone"><b>Телефон: </b>{{ phone }}</div>

	<div class="partner__email"><b>E-mail:</b><a href="mailto:{{ email }}">{{ email }}</a></div>

	<div class="partner__site"><b>Официальный сайт: </b> <a href="{{ site_url }}/">{{ site_url }}</a></div>
	</div>

	<div class="partner__about">
	<div class="partner__about-title">Менеджер проекта:</div>

	<div>{{ manager_name }}</div>

	<div class="partner__about-desc"> </div>

	<div class="partner__about-desc"><strong>E-mail</strong>: {{ manager_email }}</div>

	<div class="partner__about-desc"><strong>Телефон</strong>: {{ manager_phone }}</div>
	</div>
	</div>

	<div class="partner__right">
	<div class="partner__about">
	<div class="partner__about-title">Название программы:</div>

	<div class="partner__about-desc"> {{ about_desc }} </div>

	</div>
	</div>
	</div>
	</div>
	</div>
	</li>